[submodule "app"]
	path = app
	url = https://github.com/AlbertSu123/ai-agents-app
[submodule "backend"]
	path = backend
	url = https://github.com/AlbertSu123/ai-agents-backend
[submodule "coinbase-agentkit-marketing-agent"]
	path = coinbase-agentkit-marketing-agent
url = https://github.com/AlbertSu123/ai-agent-agentkit
[submodule "virtuals-marketing-agent"]
	path = virtuals-marketing-agent
	url = https://github.com/AlbertSu123/game-node
