[submodule "ai-agents-app"]
	path = ai-agents-app
	url = https://github.com/AlbertSu123/ai-agents-app
[submodule "ai-agents-backend"]
	path = ai-agents-backend
	url = https://github.com/AlbertSu123/ai-agents-backend
[submodule "ai-agents-agent"]
	path = ai-agents-agent
	url = https://github.com/AlbertSu123/game-node
[submodule "ai-agents-agentkit"]
	path = ai-agents-agentkit
	url = https://github.com/AlbertSu123/ai-agent-agentkit
